.items {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  min-height: 0px;
}

.scrollItems {
  composes: items;
  min-height: 80px;
  overflow-y: overlay;
}

.bunItem {
  composes: mr-4 from global;
  display: flex;
  justify-content: flex-start;
  margin-left: 48px;
}

.item {
  composes: ml-4 mr-4 from global;
  display: flex;
  justify-content: flex-start;
}

.itemDrag {
  composes: mr-2 from global;
  display: flex;
  align-self: center;
  cursor: grab;
}

.itemDrag:active {
  cursor: grabbing;
}

.emptyElement {
  composes: constructor-element from global;
  display: flex;
  margin-left: 48px;
  margin-right: 16px;
}

.emptyElementHover :global(.constructor-element) {
  outline: 2px dashed #8ac290;
  outline-offset: -2px;
}

.bunEmptyElement {
  composes: constructor-element from global;
  display: flex;
}

.itemEmpty {
  display: flex;
  width: 100%;
}

.emptyElementText {
  composes: constructor-element__text empty-element__text from global;
  justify-content: center;
}

.drop {
  box-sizing: content-box;
  border: 1px solid transparent;
}

@media screen and (max-width: 1279px) {
  .bunItem {
    margin-left: 32px;
  }

  .item {
    margin-left: 0;
    margin-right: 0;
  }

  .scrollItems {
    max-height: 100%;
  }
}
