.container {
  padding: 24px;
  border-radius: var(--common-border-radius-s);
  background: var(--background);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  composes: mt-6 from global;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  overflow-x: auto;
}

.icon + .icon {
  margin-left: -16px;
}

.icon:nth-child(1) {
  z-index: 6;
}

.icon:nth-child(2) {
  z-index: 5;
}

.icon:nth-child(3) {
  z-index: 4;
}

.icon:nth-child(4) {
  z-index: 3;
}

.icon:nth-child(5) {
  z-index: 2;
}

.icon:nth-child(6) {
  z-index: 1;
}

.price {
  composes: ml-6 from global;
  display: flex;
  align-items: center;
}

.done {
  color: var(--colors-interface-success);
}

.cancelled {
  color: var(--colors-interface-error);
}
