:root {
  --header-height: 88px;
  --scroll-ingredients-padding: calc(var(--header-height) + 96px);
  --scroll-constructor-padding: calc(var(--header-height) + 296px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2f37;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8585ad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8585ad;
}
