.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.clickable {
  cursor: pointer;
}

.error {
  composes: text text_type_main-default from global;
  color: var(--colors-interface-error);
}
